<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"><style></style></head><body><u></u>


    
    

<div>
    <form method="post" action="http:///" target="_blank">
        
        <h4>
        Log in to your account
        </h4>

        
        <p>
        Please fill up your information below to sign in.
        </p>

        
        <div>
            <label>Email address*</label>
            <div>
                <input type="email" name="email" id="m_emailStr">
            </div>
        </div>

        
        <div>
            <label>Password*</label>
            <div class="m_input-group">
                <input type="password" name="password">
            </div>
        </div>
        
        
        <div>
            <input type="submit">
        </div>
    </form>
    <br>
    <a href="https://www.google.com/url?q=http:///signup&amp;source=gmail-html&amp;ust=1659437846339000&amp;usg=AOvVaw3RaS5EiigKvdweWFQ-HYtV" target="_blank" rel="noreferrer"><button>signup</button></a>
</div>
</body></html>